/*Valores globales*/

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Rajdhani', sans-serif;
}

/*Barra de navegacion estatica*/

header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #afbdc5;
}

/*Estilos NAV*/

nav {
    height: 5em;
    display: flex;
    justify-content: space-between;
    background-color: #251b34;
}

.div-a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    padding-left: 25px;
}

.logo {
    width: 1.5em;
}

h1 {
    font-size: 2.5em;
    font-family: 'New Rocker', sans-serif;
    color: #afbdc5;
}

.ul-nav {
    display: flex;
    align-items: center;
    list-style: none;
}

.li-nav {
    margin-right: 25px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #afbdc5;
}

.a-nav:hover {
    background-color: #afbdc5;
    color: #251b34;
    box-shadow: 3px 3px 2px #67587c;
}

.a-nav {
    border-radius: 100px;
    border: 2px solid;
    padding: 5px;
    font-size: 1.15em;
}

/* Menu hamburguesa */

.ul-nav.active {
    display: flex;
    top: 0;
}

.menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
}

.bar {
    width: 25px;
    height: 2px;
    background-color: #afbdc5;
    margin: 3px 0;
    border-radius: 3px;
}

/*Section principal*/

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

h2 {
    font-size: 4em;
    color: #afbdc5;
    font-family: 'New Rocker', sans-serif;
}

.p-principal {
    font-size: 2em;
    font-weight: bold;
    color: #afbdc5;
    text-align: center;
}

.principal {
    display: flex;
    height: 89vh;
    align-items: center;
    justify-content: center;
}

.img-form {
    width: 40em;
}

.container-descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 50%;
}

/*CARDS*/

.container-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    padding-top: 4em;
    justify-content: center;
    background-color: #afbdc5;
}

.cards {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.card-img {
    object-fit: contain;
    background-color: white;
    min-height: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 2px #67587c;
}

h4 {
    font-size: 2em;
}

.container-descripcion-cards {
    display: flex;
    flex-direction: column;
    min-height: 40%;
    box-shadow: 5px 5px 2px #67587c;
    border-radius: 10px;
    background-color: #afbdc5;
    color: #251b34;
    padding: 1.5em;
    justify-content: center;
    text-align: center;
}

.container-descripcion-cards:hover {
    transition: .5s;
    background-color: #251b34;
    color: #afbdc5;
    box-shadow: none;
}

/* Seccion accesorios */

.accesorios {
    width: 100%;
    height: 100vh;
    padding: 2em;
    background-color: #afbdc5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-intro-accesorios {
    text-align: center;
}

.h5-accesorio {
    margin-top: 2em;
    font-size: 3em;
    color: #251b34;
}

.p-accesorios {
    color: #251b34;
    font-size: 1.5em;
}

.acc {
    width: 35em;
    height: 25em;
    border: 2px solid #251b34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    text-align: center;
}


.h6-accesorios {
    width: 100%;
    height: 10%;
    background-color: #251b34;
    color: #afbdc5;
    font-size: 1.5em;
}

.container-img-accesorios {
    background-color: #fff;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-accesorio {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-accesorio {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.a-accesorios {
    background-color: #251b34;
    color: #afbdc5;
    width: 100%;
    height: 10%;
    text-decoration: none;
}

.a-accesorios:hover {
    opacity: 0.5;
}

/*FORMULARIO*/

.formulario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #afbdc5;
    color: #251b34;
    padding: 3em;
    width: 100%;
    height: 80vh;
}

h3 {
    font-size: 2.5em;
}

form {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.h6-form {
    font-size: 2em;
}

.h5-form,
.h6-form {
    color: #251b34;
    margin: 10px;
}

.h5-form {
    font-size: 3em;
}

button,
input {
    color: #251b34;
    background: transparent;
    border: transparent;
    border-bottom: 1px solid #251b34;
    width: 50em;
    height: 2.5em;
}

button:hover {
    background-color: #251b34;
    color: #afbdc5;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*FOOTER*/

footer {
    height: 8em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #251b34;
}

.ul-footer {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.li-footer {
    margin: 1em;
}

.p-footer {
    margin-top: .5em;
    color: #afbdc5;
}

.logo-footer {
    width: 3em;
}

.facebook:hover,
.instagram:hover,
.twitter:hover,
.whatsapp:hover {
    width: 3.2em;
    transition: .2s;
}

/*RESPONSIVE DESIGN MOBILE*/

@media screen and (max-width: 710px) {
    .container-img-principal {
        display: none;
    }

    .logo {
        width: .8em;
    }

    h1 {
        font-size: 1.7em;
    }

    nav {
        justify-content: space-between;
        height: 3.5em;
    }

    .logo-container {
        margin-right: 15px;
    }

    .container-descripcion {
        width: 100%;
        padding-top: 6em;
    }

    .container-descripcion h2 {
        margin-bottom: 20px;
    }

    .container-cards {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .cards{
       width: 75% !important;
    }

    .accesorios {
        height: auto;
    }

    .container-accesorio {
        flex-direction: column;
        padding: 1em;
    }

    .acc {
        width: 90%;
    }

    .formulario {
        display: block;
        height: auto;
    }

    .container-form {
        width: 100%;
        margin-top: 3em;
    }

    form {
        width: 100%;
    }

    input,
    button {
        width: 100%;
    }

    .info {
        width: 100%;
    }

    .ul-footer {
        width: 100%;
        justify-content: space-evenly;
    }

    /* menu */
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1em;
        position: relative;
    }

    .logo-container {
        position: relative;
    }

    nav {
        max-width: 100%;
    }

    .ul-nav {
        display: none;
        flex-direction: column;
        background-color: #251b34;
        position: absolute;
        width: 100%;
        padding: 20px 0px 20px 0px;
        gap: 10px;
    }

    .ul-nav.active {
        display: flex;
    }
}

@media screen and (max-width: 1200px) {
    .formulario {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .accesorios {
        height: auto;
    }

    .container-accesorio {
        flex-wrap: wrap;
    }

    .container-cards {
        height: auto;
    }

    .cards {
        width: 45%;
    }

    .container-descripcion-cards{
        height: auto;
    }
}

@media screen and (max-width: 775px){

    .cards{
        width: 75%;
    }
}