@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'New Rocker', sans-serif;
}

nav {
    height: 5em;
    display: flex;
    justify-content: space-between;
    background-color: #231a58;
}

.div-a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    padding-left: 25px;
}

.logo {
    width: 1.5em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
}

li {
    margin-right: 25px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #a2dd6b;
}

.a-nav {
    border-radius: 1000px;
    border: 2px solid;
    padding: 5px;
}

.principal {
    display: flex;
    background-color: #a2dd6b;
    color: #231a58;
}

.container-img-principal {
    width: 50%;
    display: flex;
    justify-content: center;
}

.img-principal,
.img-form {
    width: 40em;
}

.container-descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 50%;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: center;
    background-color: #231a58;
}

.cards {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.card-img {
    object-fit: contain;
    background-color: white;
    min-height: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.5em;
}

.container-descripcion-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40%;
    border-radius: 10px;
    background-color: #a2dd6b;
    color: #231a58;
}

.ul-container-cards {
    display: flex;
    flex-direction: column;
}

.formulario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #a2dd6b;
    color: #231a58;
}

input {
    width: 40em;
}

form {
    display: flex;
    flex-direction: column;
}

button, input{
    color: #231a58;
    background: transparent;
    border: 1px solid #231a58;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    height: 5em;
    background-color: #231a58;
}

.logo-footer {
    width: 3em;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}